/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
.nav__list, ul.index__list {list-style: none;}

/* variables */
:root {
  --color-base: navy;
  --color-body: white;
  --color-action: forestGreen;
  --color-heading-high: tomato;
  --color-heading-low: royalBlue;
  --color-light: lemonChiffon;
  --font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-size-base: 14px;
  --spacing: 30px;
  --mobile: 600px;
  --border-sm: 1px;
}
@media (max-width: 500px) {
  :root {
    --spacing: 15px;
    --font-size-base: 12px;
  }
}

/* base */
html {font: var(--font-size-base)/1.7 var(--font-family)}
body {padding: var(--spacing); color: var(--color-base); background-color: var(--color-body);}
a {color: var(--color-action); text-decoration: none;}
img {max-width: 100%;}

/* header */
.header {position: sticky; top: var(--spacing); z-index: 2; display: flex; justify-content: space-between; margin-bottom: calc(var(--spacing));}
.header a {background-color: var(--color-body); padding: 0.3em 0;}
.header .title a {color: var(--color-base);}
.header .title a span {color: var(--color-action);}
.nav li {padding: 0;}
.nav li:before {content: none;}

/* index */
.index {margin-bottom: var(--spacing);}

/* flux */
.flux {display: grid; align-items: center; grid-gap: var(--spacing); grid-template-columns: repeat(3, 1fr);}
@media (max-width: 500px) {.flux {grid-template-columns: 1fr;}}
.flux__item, .flux__img { display: block; width: 100%;}
.flux__desc {margin-top: calc(var(--spacing)/5);}

/* article */
.article { max-width: 760px;}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  display: table; margin: 1.8em 0 0.8em 0; color: var(--color-heading-low);
}
.article h1, .article h2 {color: var(--color-heading-high);}
.article h1 {border-bottom: var(--border-sm) solid var(--color-heading-high); margin: 2.4em 0 1.8em 0;}
h1.article__title {margin-top: 0;}
.article p {margin-bottom: 0.6em;}
.article img {display: block;}
.article a {text-decoration: underline;}
ol {list-style: decimal-leading-zero; margin-left: 2.4em;}
ul {list-style: none;}
ul li {position: relative; padding-left: 1em;}
ul li:before { content: "-"; position: absolute; top: 0; left: 0; color: var(--color-heading-high);}
ol li::marker {color: var(--color-heading-high);}
.article blockquote { border-left: var(--border-sm) var(--color-heading-high) dotted; padding-left: var(--spacing); margin: 1.8em 0;}
.article blockquote blockquote {border: none; padding: 0; margin: 0;}
.article blockquote blockquote p {font-style: italic;}
.article pre, .article code {background-color: var(--color-base); color: var(--color-body);}
.article pre {display: block; padding: 1.2em; overflow-x: auto;}
.article code {display: inline; padding: 0.15em 0.2em; border: var(--border-sm) solid var(--color-body);}
.article hr {display: block; border: none; margin: 2.4em 0; height: var(--border-sm); background-color: var(--color-base);}
.article em {font-style: italic;}
.article strong {font-weight: bold;}
.article table {width: 100%;}
.article th,
.article td {text-align: left; padding: calc(var(--spacing)/4);}
.article th {border-bottom: var(--border-sm) solid var(--color-base);}
.article table tr:nth-child(even) {background-color: var(--color-light);}
.article video {display: block; width: 100%;}
.article img, .article video, .article table, .article ul,.article ol, .embed-container, .article pre { margin-top: 1.4em; margin-bottom: 1.4em;}
.article img {font-size: 0.8em; text-transform: uppercase; font-style: italic;}
/* embed */
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
